{% macro suggestion(article) %}
<article class="suggestion">
  <h3 class="title">
    <a href="{{ article.url }}">{{ article.data.title }}</a>
  </h3>
  —
  <span class="project">
    <a href="{{ article.data.project.url }}">{{ article.data.project.title }}</a>
  </span>
  <div class="teaser">
    {{ article.data.teaser }}
  </div>
</article>
{% endmacro %}

{% macro diagram(path) %}
<figure class="figure">
  <object type="image/svg+xml" data="{{ path | req }}"></object>
  {% if caller %}
  <figcaption class="caption">
    {{ caller() }}
  </figcaption>
  {% endif %}
</figure>
{% endmacro %}
