/* Reset */
figure,
#main-menu ul {
	margin: 0;
	padding: 0;
	border: 0;
}

html {
  max-width: 70ch;
  padding: 1em;
  margin: 0 auto;
  line-height: 1.5;
  font-size: 1.25em;
}

ol {
  margin: 0;
}

#main-menu {
  margin-bottom: 1.5em;
}

#main-menu li {
  display: inline;
  margin-right: 2.5vmin;
}

.menu-item a {
  color: blue;
  cursor: pointer;
  font-size: calc(1em + 1.5vmin);
  text-decoration: none;
}

.title > a {
  text-decoration: none;
}

.title {
  margin-top: 1em;
  font-size: 1.7em; /* h1 */
  margin-bottom: .5em;
}

.subtitle {
  margin-top: .9em;
  font-size: 1.4em; /* h2 */
  margin-bottom: .4em;
}

.suggestion {
  margin: 1em 0;
}

.suggestion > .title {
  display: inline-block;
  line-height: 1em;
  margin-top: 0;
  font-size: 1.1em; /* h3 */
  margin-bottom: .3em;
}

.teaser {
  line-height: 1em;
  font-size: .9em;
  color: dimgrey;
}

.figure {
  text-align: center;
  margin: 1.5em 0;
  overflow-x: auto;
}

.caption {
  text-align: center;
  font-size: .9em;
  font-style: italic;
  color: dimgrey;
  margin: .5em 0;
}

.cover {
  text-align: center;
  overflow-x: auto;
}

.post .info {
  margin: 1em 0;
}

table {
  width: 100%;
  table-layout: fixed;
  border-collapse: collapse;
}

td,
th,
tr,
table {
  border: .1em solid lightgrey;
}

td,
th {
  padding: .5em;
  font-size: calc(.4em + 1.6vmin);
}

thead th {
  text-align: center;
}

th {
  background: whitesmoke;
}

td {
  text-align: center;
}

td.list {
  text-align: left;
}

table caption {
  caption-side: bottom;
}

hr {
  margin-top: 2em;
}