/* Reset */
figure,
#main-menu ul {
	margin: 0;
	padding: 0;
	border: 0;
}

html {
  max-width: 70ch;
  padding: 1em;
  margin: 0 auto;
  line-height: 1.75;
  font-size: 1.25em;
}

#main-menu li {
  display: inline;
  margin-right: 1em;
}

.menu-item a {
  color: blue;
  cursor: pointer;
  font-size: 1.4em;
  text-decoration: none;
}

main {
  text-align: justify;
}

.title > a {
  text-decoration: none;
}

.article > .title {
  text-align: center;
  margin-top: 1em;
  margin-bottom: .5em;
}

.figure {
  text-align: center;
  margin: 1.5em 0;
}

.figure > .caption {
  text-align: center;
  font-size: .9em;
  font-style: italic;
}

.suggestion > .title {
  line-height: 1em;
  margin: .5em 0;
}

.suggestion > .teaser {
  line-height: 1em;
  font-size: .85em;
  color: grey;
  margin: 0;
}

.cover {
  text-align: center;
  overflow-x: auto;
}

table {
  max-width: 100%;
  border-collapse: collapse;
  table-layout: fixed;
  white-space: nowrap;
  margin: 0 auto;
}

td,
th,
tr,
table {
  border: .1em solid lightgrey;
}

td,
th {
  padding: .5em;
}

thead th {
  text-align: center;
}

th {
  background: whitesmoke;
}

td {
  text-align: center;
}

table caption {
  caption-side: bottom;
  font-style: italic;
  text-align: center;
  font-size: .9em;
}

hr {
  margin-top: 2em;
}