:root {
  max-width: 70ch;
  padding: 2em 1em;
  margin: auto;
  line-height: 1.75;
  font-size: 1.25em;
}

#main-menu .menu-item {
  display: inline;
  padding: 0 .5em;
}

.menu-item a {
  color: blue;
  font-size: 1.4em;
  cursor: pointer;
  text-decoration: none;
}

.title > a {
  text-decoration: none;
}

.article > .title {
  text-align: center;
  padding-top: 20px;
  padding-bottom: 10px;
}

.section > .title {
  text-align: center;
  padding-top: 10px;
}

.article > .text {
  max-width: 500px;
  margin: 0 auto
}

.text {
  text-align: justify;
}

.figure {
  text-align: center;
  padding: 30px 0;
}

.figure > .caption {
  text-align: center;
  font-size: .9em;
  font-style: italic;
}

.article > .suggestion {
  max-width: 400px;
  margin: 0 auto
}

.suggestion > .title {
  line-height: 1em;
  margin: .5em 0;
}

.suggestion > .teaser {
  line-height: 1em;
  font-size: .85em;
  color: dimgray;
  margin: 0;
}